@model List<Foody.DtoLayer.Dtos.SliderDtos.ResultSliderDto>
@{
    ViewData["Title"] = "SliderList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Slider List</h1>

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Tables</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Slider Listeleri</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Slider Operasyonlari</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hoverable Table</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Slider Id</th>
                                    <th scope="col">Baslik</th>
                                    <th scope="col">Guncelle</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var esya in Model)
                                {
                                    <tr>
                                        <td>@esya.SliderId</td>
                                        <td>@esya.Title</td>
                                        <td><a href="/Sliders/UpdateSlider/@esya.SliderId" class="btn btn-success">Guncelle</a></td>
                                        <td><a href="/Sliders/DeleteSlider/@esya.SliderId" class="btn btn-danger">Sil</a></td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                        <a href="/Sliders/CreateSlider/" class="btn btn-primary">Yeni Slider Ekle</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div> 