@model List<Foody_EntityLayer.Concrete.Feature>

<div class="container-fluid bg-light bg-icon my-5 py-6">
    <div class="container">
        @foreach (var ogeler in Model)
        {
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">@ogeler.Title</h1>
                <p>@ogeler.Desription</p>
            </div>
        }
        <div class="row g-4">

            @await Component.InvokeAsync("_DefaultFeatureItemSectionComponentPartial")
            
        </div>
    </div>
</div>