@model List<Foody_EntityLayer.Concrete.AboutItem>

@foreach (var oge in Model)
{
	<p><i class="fa fa-check text-primary me-3"></i>@oge.AboutItemText</p>
}
@* 
<p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
<p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p> *@